:root {
    --primary-bg-color: #52357B;
    --secondary-bg-color: #5459AC;
    --primary-text-color: #648DB3;
    --secondary-text-color: #ffffff;
    --base-bg-color: rgb(215, 226, 237);
    --base-text-color: #000000;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background: linear-gradient(to right, var(--primary-bg-color), var(--secondary-bg-color));
}

.nav-title {
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 50%;
}

.nav-link {
    list-style: none;

}

.nav-link a {
    display: inline-block;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-link a:hover {
    color: var(--primary-text-color);
    transform: scale(1.2);
}

.nav-active a {
    color: var(--primary-text-color);
    font-weight: bold;
}

body {
    position: relative;
    min-height: 100vh;

}

.messages {
    position: fixed;
    left: 10px;
    bottom: 100px;
    background: transparent;
    list-style: none;
    z-index: 10;

}

.messages li {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border: 2px solid gray;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.messages li p {
    width: 250px;
}

.messages li.success {}

.messages li.error {}

.messages li.warning {}

.message-close-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 0;
}

.progress-ring {
    position: absolute;
}

.progress-ring-circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: all 0.1s linear;
}

.message-close-btn img {
    position: relative;
    width: 25px;
    height: 25px;
}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, var(--primary-bg-color), var(--secondary-bg-color));
}

.header {

    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-description {
    width: 60%;
}

.header-image {
    width: 35%;
}

.header-title {
    color: var(--primary-text-color);
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

.header-subtitle {
    color: var(--secondary-text-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.newsletter {
    width: 100%;
    display: flex;
    align-items: center;
}

.newsletter input {
    width: 90%;
    padding: 5px 15px;
    border: 1px solid var(--primary-text-color);
    border-radius: 20px;
    background: transparent;
    color: var(--secondary-text-color);
    font-size: 18px;
    height: 40px;
    ;
}

.newsletter input::placeholder {
    color: var(--primary-text-color);
}

.newsletter input:focus {
    outline: none;
    border: 2px solid var(--primary-text-color);
}

.newsletter button {
    background-color: var(--primary-text-color);
    /* color: var(--secondary-text-color); */
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
    transform: translateX(-40px);
    transition: all 0.2s ease;
}

.newsletter button:hover {
    transform: translateX(-40px) scale(1.1);
}

.blogs {
    margin-top: 50px;
}

.blogs-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs-header h2 {
    font-size: 30px;
    color: var(--base-text-color);
}

.blogs-header-btn {
    display: inline-block;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.blogs-header-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blogs-list {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.blog {
    width: 23%;
    border-radius: 10px;
    background-color: var(--base-bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 400px;
}

.blog-link {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--base-text-color);
    transition: all 0.2s ease;
}

.blog-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.blog-header {
    position: relative;
}

.blog-header img {
    height: 150px;
    width: 100%;
}

.blog-header-category {
    position: absolute;
    padding: 2px 15px;
    bottom: 10px;
    left: 0px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border-radius: 0 15px 15px 0;
}

.blog-content {
    padding: 5px 10px;
}

.blog-description {
    font-size: 14px;
    color: rgb(82, 82, 82);
    overflow: hidden;
    height: 150px;
}

.blog-content-created {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}