{% extends 'base.html' %}
{% block head %}
<title>Blog App:{{title}}</title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/create_blog_entry.css">

{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">{{title}}:</h1>
    <form action class="entry_form" method="post">
        {% csrf_token %}
        {{form.media}}

        {{form.title.as_field_group}}
        {{form.category.as_field_group}}
        {{form.content.as_field_group}}
        <button type="submit">{{title}}</button>
        {% if update_entry %}
            <a href="{% url 'blog_entry_details' blog_id=post.id %}">Close</a>
        {% endif %}
    </form>
</div>
{% endblock %}